

body {
    font-family: 'dana';
    background-image: url(../img/5.jpg);
    --color-title: #6bffde;
    --color-link: #6bffde;
}

.content__title {
    font-size: 8vw;
    font-family: 'dana';
}

.content__subtitle,
.content__credits {
    font-size: 1.25rem;
    font-family: 'dana';
    color: var(--color-title);
}

.content__subtitle {
    font-size: 2rem;
}